.flexRow--wrapper__top-bar{
  background-color: #76234F;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flexRowContent--wrapper__top-bar{
  max-width: 1214px;
  margin: 0 auto;
}
.flexCol--wrapper__col{
  flex-direction: row;
}
.flexCol--wrapper__col-rigth{
  display: flex;
  justify-content: flex-end;
}
.flexRowContent--main-header{
  padding: 0 200px;
  height: 80px;
}